<!DOCTYPE html>
<html>
<head>
<title>Zerocity Gazetteer</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<style>
  * {
    font-family: "Averia Libre", serif;
    font-size: 32px;
  }
  code {
    font-family: monospace;
  }
  h1 {
    border-top: thin solid #AAA;
    font-size: 250%;
    clear: both;
  }
  h2 {
    font-size: 175%;
    clear: both;
  }
  h3 {
    font-size: 150%;
    color: #444;
  }
  h4 {
    font-size: 120%;
  }
  h1, h2, h3, h4 {
    break-after: avoid;
  }
  blockquote {
    font-weight: bold;
    margin-left: 0;
  }
  th {
    font-weight: bold;
  }
  table, tr, th, td {
    border: 1px solid #BBB;
    border-collapse: collapse;
    padding: 2px 4px;
  }
  th, td {
    text-align: center;
  }
  pre {
    font-family: monospace;
  }
  img {
    width: 100%;
    height: auto;
    border: 2px solid #888;
    padding: 1em;
    margin: 0 2em 2em 2em;
    max-width: 600px;
  }
  pre {
    font-family: monospace;
    font-size: 30px;
  }
  .full-width {
    width: 100%;
    max-width: 100%;
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
  }
  .float-right {
    float: right;
    margin-right: 0;
  }
  .float-left {
    float: left;
    margin-left: 0;
  }
  [data-role=pagebreak] {
    display: block;
    page-break-before: always;
  }
</style>
</head>
<body>

{{book|markdown}}

</body>
</html>
